<!-- Author: Erin -->
{% extends "bang/index.html" %}

{% block main_stuff %}
{% include "bang/navbar.html" with nav_location=location %}


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bang/computer.css' %}">

<div class='computer_detail'>
    <h1>Computer {{computer.id}}</h1>

    <h2>Make: {{computer.make}}</h2>
    <h2>Model: {{computer.model}}</h2>
    <h2>Purchase Date: {{computer.purchase_date}}</h2>

    {% for employee in computer.employees_set.all %}
    <h2>Assigned Employee:  {{employee.first_name}} {{employee.last_name}}</h2>
    {% endfor %}
    <div class='delete_div'>
    <a href="{% url 'bang:computer_delete' computer.id %}">
        <div class='delete'>
            <p>Delete</p>
        </div>
    </a>
    </div>
</div>
{% endblock main_stuff %}
