{% extends 'bang/index.html' %}

{% block main_stuff %}
{% include 'bang/navbar.html' with nav_location=location %}

<h1>Computer List</h1>

{% if computer_list %}
    <ul>
    {% for computer in computer_list %}
        <li>
            <h2>
                <a href="{% url 'bang:computer_detail' computer.id %}">{{computer.make}} {{computer.model}} {{computer.purchase_date}}
                </a>
            <h2>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No computers are saved.</p>
{% endif %}
{% endblock main_stuff %}