<!-- Author: Raf -->
{% extends "bang/index.html" %}

{% block main_stuff %}
{% include "bang/navbar.html" with nav_location=location %}


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bang/department.css' %}"> 

<div class='department_detail'>
    <h1>{{department.dept_name}} Department</h1>

    <h2> Employees in {{department.dept_name}} department:</h2>
    <ul>
        {% for employee in department.employees_set.all %}
        <li>
            <a href="{% url 'bang:employees_detail' employee.id %}">
                <div class='employee_card'>
                    <p>{{employee.first_name}} {{employee.last_name}}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class='float_clear'></div>
</div>
{% endblock main_stuff %}