<!-- Author: Hayley / Levi -->
{% extends 'bang/index.html' %} 
{% block main_stuff %} 

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bang/employee.css' %}"> 

{% include "bang/navbar.html" with nav_location=location %}

<div class='employee_list'>
<h1>Bangazon LLC Employees </h1>

<ul>
    {% for employees in employees_list %}
    <li>
        <a href="{% url 'bang:employees_detail' employees.id %}">
            <div class='employee_card'>
                <p>{{employees.first_name}} {{employees.last_name}}</p>
            </div>
        </a>
        <!-- placehold text would go here -->
    </li>
    {% endfor %}
</ul>
<div class='float_clear'></div>
</div>
{% endblock main_stuff %}