<h3>Department Sub Navigation</h3>
<nav>
    <ul class='sub_nav'>
    {% if nav_location != 'departments' %}
        <li>
        <form action='/bang/departments' method='GET'>
            <input type='submit' value='Home'>
        </form>
        </li>
    {% endif %}
    {% if nav_location != 'departments_form' %}
        <li>
        <form action='/bang/departments/add' method='GET'>
            <input type='submit' value='Add New'>
        </form>
        </li>
    {% endif %}
    </ul>
</nav>