/* Department List CSS */

.department_list{
    widows: 100%;
    margin: 8px auto;
    text-align: center;
}

.department_list ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.department_list li{
    width: 30%;
    float: left;
    margin: 0 1.66%;
    padding-left: 0;
    text-align: center;
}

.department_list li a{
    margin:0px auto;
    text-decoration: none;
    color: black;
}

.department_card{
    margin: 8px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid grey;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.department_card p{
    width: 100%;
    margin-top:0px;
    margin-bottom: 0px;
}

.float_clear{
    clear:both;
}

/* Department Detail CSS */
.department_detail{
    width:100%;
    text-align: center;
}

.department_detail ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.department_detail li{
    width: 23%;
    float: left;
    margin: 0 1%;
    padding-left: 0;
    text-align: center;
}

.department_detail li a{
    margin:0px auto;
    text-decoration: none;
    color: black;
}

.employee_card{
    margin: 8px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid grey;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.employee_card p{
    width: 100%;
    margin-top:0px;
    margin-bottom: 0px;
}

/* Department Form CSS */

.department_form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.department_form input{
    margin-top:8px;
    margin-right:auto;
}